[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
digitalpulse_tld = "AoK7A4kRVL6UYA4ydwUkjEXujBBPjcVh5VZvM4i8uKVt"

[programs.devnet]
digitalpulse_tld = "AoK7A4kRVL6UYA4ydwUkjEXujBBPjcVh5VZvM4i8uKVt"

[programs.mainnet]
digitalpulse_tld = "AoK7A4kRVL6UYA4ydwUkjEXujBBPjcVh5VZvM4i8uKVt"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "tests/fixtures/metaplex_token_metadata.so"

[test.validator]
url = "https://api.devnet.solana.com"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

[[test.validator.account]]
address = "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
filename = "tests/fixtures/spl_token.json"
