[toolchain]

[features]
seeds = false
skip-lint = false

[programs.mainnet]
digitalpulse_tld = "2skfTcCdVRkrVdhrvQ9JTWyccgt9jmuPP2S7iT8RSEcJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
